
<h1>About The Project: </h1>
<br>
   <p class="commentsbox">
	   This application is developed to demonstrate competency in Ruby on Rails programming. This is an application, which lists shares and pulls share data from a financial website. Reviews can be added/deleted/modified for each share. This website supports pulling data from www.moneycontrol.com. MoneyControl is a financial website listing shares from NSE/BSE(Indian stock markets).
	</p>
	   <br>
	<p class="commentsbox">	
	   This application pulls basic financial data like current share price, year's lowest and highest share prices, Sector, Price to Equity ratio(P/E), current Market Capital(Market Cap), Book Value, Price to Book value(P/B).
	</p>
	   <br>
	<p class="commentsbox">
	   Future plan is to pull balance sheet data and use it to analyse and rate each share. Which is yet to be implemented.

	</p> 