<% if @reviews.size ==0 	%>
	<p> There are no reviews for the share yet </p>
<% else%>
  <ul>
    <% @reviews.each do |review| %>
      
        <div class=<%= 'priority' + review.priority.to_s %> >
          <li>
          <%= review.name %>
          (<%= time_ago_in_words(review.created_at)  %> ago) -
           &quot;<%= review.comment %>&quot;
          </li>
        </div>
  
    <% end %>
    
  </ul>
<%end%>
