		<div class="header">
			<div class="title">SHARE ANALYSIS & SCORING</div>
				
		</div>
					
		<div id="nav">
		  	<ul>
				<li><%= link_to "Home", shares_path %></li>
				<li><%=link_to "About", about_shares_path %></li>
      			<li><%=link_to "Contact", contact_shares_path %></li>
      		</ul>
		</div>