			<div class="sd_right">
				<div class="text_padding">
					<h2>ShareAnalysis</h2> This is a website which analyses shares based on their financial statements, and calculates a score for each share.
							
						
					<h2>Links</h2>
					<a> <%= link_to 'Pull Shares', new_share_path%> </a><br />
					<%=   link_to "All Shares", shares_path %><br />
				</div>
			</div>